// Defining custom styles that override everything else.
.site-subtitle {
  color: #dddddd;
}

.site-header, .site-footer {
  background-color: #000000;
  overflow: hidden;
}

.site-header {
  border-bottom: 5px groove #c33020;
}

.site-footer {
  
  border-top: 5px groove #c33020;
}
