// Defining custom styles that override everything else.

.site-title, .site-title:visited {
  color: #D60000;
}

.site-subtitle {
  color: #dddddd;
}

.site-header, .site-footer {
  background-color: #000000;
}

.site-header {
  border-bottom: 5px groove #c33020;
}

.site-footer {
  
  border-top: 5px groove #c33020;
}
